/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  min-inline-size: 375px;
  min-block-size: 100dvb;
  background-image: var(--background-image, repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
  repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
  linear-gradient(#e7e7e7 0.01%, #1a1a1a));
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  font-family: var(--text-inter, Arial, sans-serif);
  font-variation-settings: "wght" var(--font-weight-text, 400);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color, #fff);
  font-family: var(--text-press, fantasy);
  border: 2px solid var(--accent-color-text, #000);
  text-transform: uppercase;
  margin: 0 0 100px 0;
  gap: 25px;
  margin-top: 100px;
  padding-block-end: 20px;
  padding-block-start: 136px;
  min-height: 368px;
}

.width_block {
  width: var(--width-block);
}

.div__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--accent-color-text, #000);
}

.header__title {
  font-size: var(--font-size-title, clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem));
  line-height: 65px;
}

.header__subtitle {
  font-size: var(--font-size-subtitle, clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem));
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-size: 14px;
  line-height: 14px;
  color: var(--accent-color-menu, #000);
  margin-left: 12px;
}

.theme-menu__button {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: currentColor;
  opacity: 1;
  transform: scaleX(0);
  transition: width 300ms, background-color 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  background-color: currentColor;
  opacity: 0.6;
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  opacity: 0.6;
  position: absolute;
  left: -20px;
  animation-name: marker;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

}

.sparks {
  opacity: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.section_sprint {
  background-color: var(--background-color, #fff);
  border: 2px solid var(--accent-color-text, #000);
}

.image__wrapper {
  position: relative;
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
  min-block-size: 375px;
  outline: 1px solid var(--accent-color-text);
}

.image__label {
  position: absolute;
  z-index: 1;
  inset-inline-end: 13px;
  inset-block-start: 24px;
  font-family: var(--text-press, fantasy);
  font-size: 14px;
  line-height: 14px;
  mix-blend-mode: hard-light;
  color: var(--accent-color-text, #000);
  opacity: 50%;
  text-shadow: 0 0 1px var(--page-background-color, #ffffff);
}

@supports (
  (text-rendering: 1px var(--background-color, #fff))
  or
    (-webkit-text-stroke: 1px var(--background-color, #fff))
) {
  .image__label {
    -webkit-text-stroke: 1px var( --background-color, #fff);
    text-rendering: 1px var( --background-color, #fff);
    text-shadow: none;
  }
}

.logo-card {
  width: 100%;
  display: block;
}

.logo__zero-sprint {
  filter: grayscale(1);
}

.logo__one-sprint {
  filter: blur(5px);
}

.logo__one-to-sprint {
  filter: brightness(30%);
}

.logo__two-sprint {
  filter: contrast(150%);
}

.logo__two-to-sprint {
  filter: grayscale(60%);
}

.logo__three-sprint {
  filter: hue-rotate(0.5turn);
}

.logo__three-to-sprint {
  filter: invert(76%);
}

.logo__thour-sprint {
  filter: sepia(0.7) hue-rotate(0.2turn);
}

.title__block {
  color: var(--accent-color-text, #000);
  font-size: 18px;
  padding: 3px 10px 3px 10px;
  line-height: 22px;
  font-family: inherit;
  font-variation-settings: "wght" var(--font-weight-title, 700)
}

.text__block {
  color: var(--accent-color-text, #000);
  font-family: inherit;
  font-size: 18px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 21px;
}

.button__heart-like {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
  gap: 5px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color-text, #000);
}

.button {
  min-width: 130px;
  max-width: clamp(19.125rem, 2.723vw + 18.487rem, 20.938rem);
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color, #fff);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid var(--accent-color-text, #000);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button::before {
  content: '';
  display: block;
  background-color: var(--accent-color-text, #000);
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s;
}

.button:hover::before {
  width: 100%;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color-text, #000);
  transition: box-shadow 0.3s;
}

.button__text {
  mix-blend-mode: difference;
  z-index: 1;
  color: var(--color-hover-button, #fff);
  font-family: var(--text-press, fantasy);
  font-size: 14px;
  line-height: 90%;
}

.disceta {
  width: clamp(1.313rem, -0.657vw + 1.904rem, 1.75rem);
  height: clamp(1.313rem, -0.657vw + 1.904rem, 1.75rem);
}

.button__save {
  width: clamp(19.063rem, 2.817vw + 18.402rem, 20.938rem);
  height: clamp(3.438rem, -2.723vw + 5.888rem, 5.25rem);
  display: flex;
  justify-content: space-evenly;
}

.footer {
  margin-bottom: 100px;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon .core {
  fill: var(--background-color, #fff);
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--accent-color-text, #000);
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  fill: var(--background-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color-text, #000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
    fill: var(--color-heart-sparks, #FF0000);
    transition: fill 0.3s linear;
  }
  
  .like-icon:active .main-body {
    fill: var(--color-heart-sparks, #FF0000);
    transition: fill 0.3s linear 0.05s;
  }

  .like-icon.is-liked .core {
    fill: var(--color-heart-sparks, #FF0000);
    transition: fill 0.3s linear;
  }
  
  .like-icon.is-liked .main-body {
    fill: var(--color-heart-sparks, #FF0000);
    transition: fill 0.3s linear 0.03s;
  }
  
  .like-icon.is-liked .contour {
    fill: var(--color-heart-sparks, #FF0000);
    transition: fill 0.3s linear 0.05s;
  }
  
  .like-icon.is-liked .heart {
    animation: heart 0.3s ease-in 0.1s alternate;
  }
  
  .like-icon.is-liked .sparks {
    animation: sparks 0.3s ease-in 0.3s alternate;
  }

  dialog[open] {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  padding: 30px;
  gap: 30px;
  color: var(--accent-color-text, #000);
}

dialog::backdrop {
  background-color: #000000;
  opacity: 75%;
}

.modal {
  background-color: var(--background-color, #fff);
}

.modal__dialog {
  display: flex;
  font-size: 14px;
  gap: 20px;
  align-items: center;
}

.text_modal {
  line-height: 150%;
  font-family: var(--text-press, );
  font-variation-settings: "wght" var(--font-weight-text);
  text-transform: uppercase;
  max-width: clamp(12.375rem, 11.077vw + 9.779rem, 14.625rem);
}

.disceta_modal {
  width: 39px;
  height: 39px;
}

.button-ok {
  height: 38px;
  text-transform: uppercase;
  line-height: 90%;

}

  @media (width <= 376px) {
    .header {
      padding-block-start: 120px;
      min-height: 323px;
      padding-block-end: 25px;
      }
    
    .header__title {
      line-height: 49px;
    }

    .theme-menu__list {
      margin-left: 17px;
    }
  
    .button__save {
      flex-direction: column;
    }
  }