/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --background-image: repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
      repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
      linear-gradient(#e7e7e7 0.01%, #1a1a1a);

    --text-inter: "Inter-Variable";
    --text-press: "PressStart2P-Regular";
    --font-weight-title: 700;
    --font-weight-text: 400;
    --accent-color-text: #000;
    --accent-color-menu: #000;
    --background-color: #fff;
    --font-size-title: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --font-size-subtitle: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --width-block: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
    --color-heart-contour: #000;
    --color-heart-sparks: #FF0000;
    --color-hover-button: #fff;
}